* {
    border: 1px solid black
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
}

.logo {
    display: flex;
    align-items: center;
}

.logo span {
    color: mediumaquamarine;
}

nav {
    display: flex;
}

.nav-items {
    padding: 10px;
    color: black;
}

.column {
    display: flex;
}

.column.large {
    display: flex;
    width: 630px;
}

.column.medium {
    display: flex;
    width: 300px;
}

.column.small {
    display: flex;
    width: 240px;
}

#main {
    background-image: url();
}