* {
    border: 1px solid black
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
}

.logo {
    display: flex;
    align-items: center;
}

.logo span {
    color: mediumaquamarine;
}

nav {
    display: flex;
}

.nav-items {
    padding: 10px;
    color: black;
}

.content {
    display: flex;
}

.column.large {
    width: 630px;
}

.column.medium {
    width: 300px;
}

.column.small {
    width: 240px;
}

.blog-item {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.column.large .image-headline {
  display: flex;
    align-items: center;
    width: 630px;
    height: 300px;
}

#headline {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.image-headline h2 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

