* {
   /*border: 1px solid black */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Verdana;
    font-size: 14px;
    height: 80px;
    font-weight: bold;
    border-bottom: 1px solid black;
}

.logo {
    display: flex;
    align-items: center;
}

.logo span {
    color: mediumaquamarine;
}

nav {
    display: flex;
}

.nav-items {
    padding: 10px;
    color: black;
}

.content {
    display: flex;
    justify-content: space-around;
    padding: 40px 0px;
}

.column.large {
    width: 630px;
    display: flex;
    flex-flow: wrap column;
}

.column.medium {
    width: 300px;
}

.column.small {
    width: 240px;
}

.stories {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.story {
  font-family: Georgia;
  font-size: 17px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 95%;
}

#headline {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  text-align: left;
    padding-left: 25px;
}

.headline-image {
    height: 300px;    
    display: flex;
    align-items: center;
}

.story-image {
    height: 300px;
    display: flex;
    align-items: center;
}

.story-image h2 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;

}

.blog-item-news h2 {
  font-size: 16px;
  font-weight: bold;
}

.flex-news {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  display: flex;
  flex-flow: column;
  
}

.news-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 15px;
    
}

footer {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: MediumAquamarine;
    margin: auto;
    font-family: Verdana;
    font-size: 12px;
    padding: 150px 0px;
}


.footer-items {
    height: 40px;
    display: flex;
    justify-content: space-between;
    
}

.footer-items a {
    color: black;
}

.mytimes {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}